.payment {
  background-color: white;
}
.payment_container > h1 {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: rgb(234, 237, 237);
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}
.payment_section {
  padding: 20px;
  margin: 0 20px;
  border: 1px solid lightgray;
  display: flex;
}
.payment_title {
  flex: 0.2;
}
.payment_items,
.payment_address,
.payment_details {
  flex: 0.8;
}
.payment_details > form {
  max-width: 400px;
  padding: 10px;
}
.payment_details > h4 {
  padding-bottom: 20px;
  margin-top: 10px;
}
.payment_details > form > div > button {
  background-color: #cd9042;
  width: 100%;
  border-radius: 3px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
}
