.product {
  max-height: 400px;
  min-width: 100px;
  width: 100%;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
.product > img {
  width: 100%;
  max-height: 200px;
  margin-bottom: 15px;
  object-fit: contain;
}
.product > button {
  background: #cd9042;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  color: black;
}
.product_info {
  height: 100px;
  margin-bottom: 15px;
  font-size: 20px;
}
.product_rating {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .product_info {
    font-size: 20px;
  }
  .product > img {
    width: 100%;
    max-height: 150px;
    margin-bottom: 15px;
    object-fit: contain;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .product_info {
    font-size: 13px;
  }
  .product > img {
    width: 100%;
    max-height: 100px;
    margin-bottom: 15px;
    object-fit: contain;
  }
}
@media only screen and (man-width: 480px) {
  .product_info {
    font-size: 11px;
  }
  .product > img {
    width: 100%;
    max-height: 80px;
    margin-bottom: 15px;
    object-fit: contain;
  }
}
